.App {
  text-align: center;
}
html {
  height: 100%;
  background-color: #1AFF1A;
  /* display: flex; */
}
.drop-down {
  margin-bottom: 5vh;
  width: 50vw;
  height: 5vh;
  background-color:#4B0092 ;
  color: #1AFF1A;
  font-size: 2em;
  padding-left: 2vw;
}
.help-tag {
  color: #4B0092;
}

.App-header {
  background-color: #282c34;
  color: #4B0092;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


