p {
   padding: .5em;
  color: #1AFF1A;
  font-size: 1.4em;
  font-weight: 900;
  font-style: bold;
  margin: 1em;
}

section {
  /* border: 1px solid black; */
  background-color: #4B0092;
  height: 5vh;
  width: 40vw;
  padding: 1em;
  margin: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 4vh;
  border-style: solid;
  border-radius: 12vh;
  block-size: fit-content
  /* border-image:  */
  /* linear-gradient(to top, #4B0092, #1AFF1A); */
  /* #a053df */
}